<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HelpdeskDesktopNotify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <HelpdeskDesktopNotify.Properties.Settings>
            <setting name="ShowMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=10.1.1.7;Database=RAUBEX_HELPDESK;Trusted_Connection=True;</value>
            </setting>
            <setting name="BypassLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoChangeProxyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyEnabled" serializeAs="String">
                <value>0</value>
            </setting>
        </HelpdeskDesktopNotify.Properties.Settings>
    </userSettings>
</configuration>
